<div class="alert brand-secondary-alert fw-bold" *ngIf="isUsingSampleData">
  <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
  Using Sample Data
</div>

<form [formGroup]="budgetForm" class="budgetForm">
  <div ngbAccordion [closeOthers]="false">
    <div ngbAccordionItem id="pSettings" data-accordion="settings">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <span class="float-start">Settings</span>
          <div class="ms-auto"></div>
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="form-group">
              <div class="row mb-3">
                <label
                  for="selectedBudget"
                  class="col-sm-12 col-md-5 col-form-label"
                  >Budget</label
                >
                <div class="col">
                  <div class="input-group">
                    <select
                      class="form-control"
                      id="selectedBudget"
                      formControlName="selectedBudget"
                    >
                      <option
                        *ngFor="let budget of budgets"
                        [value]="budget.id"
                      >
                        {{ budget.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-3">
                <label
                  for="currencySelect"
                  class="col-sm-12 col-md-5 col-form-label"
                  >Currency</label
                >
                <div class="col">
                  <div class="input-group">
                    <select
                      class="form-control"
                      id="currencySelect"
                      [ngModel]="currencyIsoCode"
                      (ngModelChange)="onCurrencyChange($event)"
                      [ngModelOptions]="{ standalone: true }"
                    >
                      <option
                        *ngFor="let currency of availableCurrencies"
                        [value]="currency"
                      >
                        {{ currency }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-1">
                <label
                  for="selectedBudget"
                  class="col-sm-12 col-md-5 col-form-label"
                  >Month Start</label
                >
                <div class="col">
                  <div class="input-group">
                    <select
                      class="form-control"
                      id="selectedMonthA"
                      formControlName="selectedMonthA"
                    >
                      <option
                        *ngFor="let month of months"
                        [value]="month.month"
                      >
                        {{ month.month }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <label
                  for="selectedBudget"
                  class="col-sm-12 col-md-5 col-form-label"
                  >Month End</label
                >
                <div class="col">
                  <div class="input-group">
                    <select
                      class="form-control"
                      id="selectedMonthB"
                      formControlName="selectedMonthB"
                    >
                      <option
                        *ngFor="let month of months"
                        [value]="month.month"
                      >
                        {{ month.month }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row mb-1">
                <label
                  for="selectedBudget"
                  class="col-sm-12 col-md-5 col-form-label"
                ></label>
                <div class="col">
                  <div ngbDropdown class="input-group d-inline-block">
                    <button
                      class="btn btn-outline-secondary btn-sm w-100"
                      id="quickSelectMonths"
                      ngbDropdownToggle
                    >
                      Quick Choose
                    </button>
                    <div ngbDropdownMenu aria-labelledby="quickSelectMonths">
                      <button
                        ngbDropdownItem
                        (click)="quickChooseMonths('allTrim')"
                      >
                        All Complete
                      </button>
                      <button
                        ngbDropdownItem
                        (click)="quickChooseMonths('all')"
                      >
                        All
                      </button>

                      <button ngbDropdownItem (click)="quickChooseMonths('yr')">
                        Last Year
                      </button>
                      <button ngbDropdownItem (click)="quickChooseMonths('12')">
                        Last 12 Months
                      </button>
                      <button
                        ngbDropdownItem
                        (click)="quickChooseMonths('ytd')"
                      >
                        YTD
                      </button>
                      <button
                        ngbDropdownItem
                        (click)="quickChooseMonths('curr')"
                      >
                        Current Month
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3"></div>
            </div>
            <div class="form-group">
              <div class="row">
                <label
                  for="safeWithdrawalRatePercentage"
                  class="col-sm-12 col-md-5 col-form-label"
                  ><span
                    ngbTooltip="The yearly percentage you can withdraw from your portfolio without running out of money."
                    placement="top"
                    triggers="click:blur hover"
                    container="body"
                  >Safe Withdrawal Rate <i class="fas fa-info-circle small"></i></span></label
                >
                <div class="col">
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      id="safeWithdrawalRatePercentage"
                      formControlName="safeWithdrawalRatePercentage"
                      step="0.01"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <small>
                    <a
                      target="_blank"
                      href="https://www.madfientist.com/safe-withdrawal-rate/"
                      >Mad Fientist
                      <fa-icon
                        [icon]="['fas', 'external-link-square-alt']"
                        size="sm"
                      ></fa-icon>
                    </a>
                    |
                    <a
                      target="_blank"
                      href="http://www.mrmoneymustache.com/2012/05/29/how-much-do-i-need-for-retirement/"
                      >Mr. Money Mustache
                      <fa-icon
                        [icon]="['fas', 'external-link-square-alt']"
                        size="sm"
                      ></fa-icon>
                    </a>
                  </small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label
                  for="expectedAnnualGrowthRate"
                  class="col-sm-12 col-md-5 col-form-label"
                  >Expected Annual Rate of Return</label
                >
                <div class="col">
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      id="expectedAnnualGrowthRate"
                      formControlName="expectedAnnualGrowthRate"
                      step="0.01"
                      aria-describedby="expectedAnnualGrowthRateHelp"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <small>
                    <a
                      target="_blank"
                      href="http://www.mrmoneymustache.com/2011/06/06/dude-wheres-my-7-investment-return/"
                      >7% - Mr. Money Mustache
                      <fa-icon
                        [icon]="['fas', 'external-link-square-alt']"
                        size="sm"
                      ></fa-icon>
                    </a>
                  </small>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  for="includeHiddenYnabCategories"
                  class="col-sm-12 col-md-5 col-form-label d-flex align-items-center"
                  >Include Hidden Categories</label
                >
                <div class="col">
                  <div class="form-check d-flex align-items-center">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="includeHiddenYnabCategories"
                      formControlName="includeHiddenYnabCategories"
                      aria-describedby="includeHiddenYnabCategoriesHelp"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="birthdate" class="col-sm-12 col-md-5 col-form-label"
                  >Birthdate</label
                >
                <div class="col">
                  <div class="input-group" data-tour="birth-date">
                    <input
                      class="form-control"
                      id="ngBirthDate"
                      formControlName="birthdate"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      [minDate]="{ year: 1925, month: 1, day: 1 }"
                      placeholder="yyyy-mm-dd"
                      [readonly]="false"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        (click)="d.toggle()"
                        type="button"
                      >
                        <i class="fas fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3" data-tour="retirement-age">
                <label
                  for="retirementAge"
                  class="col-sm-12 col-md-5 col-form-label"
                  ><span
                    ngbTooltip="Used for Coast FIRE — the amount your portfolio needs today to grow to your FIRE Number by this age without further contributions."
                    placement="top"
                    triggers="click:blur hover"
                    container="body"
                  >Target Retirement Age <i class="fas fa-info-circle small"></i></span></label
                >
                <div class="col">
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      id="retirementAge"
                      formControlName="retirementAge"
                      min="18"
                      max="100"
                      step="1"
                    />
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div
      ngbAccordionItem
      id="pNetWorth"
      data-accordion="net-worth"
    >
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <span class="float-start">Starting Portfolio</span>
          <span class="ms-auto" data-tour="starting-balance">
            {{ netWorth | currency: currencyIsoCode }}
          </span>
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="row mb-3">
              <table class="table col-12">
                <thead class="thead-sum">
                  <tr>
                    <th>Starting Balance</th>
                    <td>{{ ynabNetWorth | currency: currencyIsoCode }}</td>
                    <td>{{ netWorth | currency: currencyIsoCode }}</td>
                  </tr>
                </thead>
                <thead class="table-dark">
                  <tr>
                    <th>Account</th>
                    <th>YNAB Balance</th>
                    <th>Balance</th>
                  </tr>
                </thead>
                <tbody formArrayName="accounts">
                  <tr
                    *ngFor="let account of accounts.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <td>{{ account.value.name }}</td>
                    <td>
                      {{
                        account.value.ynabBalance | currency: currencyIsoCode
                      }}
                    </td>
                    <td>
                      <input
                        class="form-control"
                        formControlName="balance"
                        type="number"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="!isUsingSampleData">
              <div class="col-12">
                <button
                  class="btn btn-link btn-sm p-0 text-muted"
                  type="button"
                  (click)="isBalanceHelpCollapsed = !isBalanceHelpCollapsed"
                  [attr.aria-expanded]="!isBalanceHelpCollapsed"
                >
                  How we pull these numbers from YNAB
                  <i
                    class="fas"
                    [class.fa-chevron-down]="isBalanceHelpCollapsed"
                    [class.fa-chevron-up]="!isBalanceHelpCollapsed"
                  ></i>
                </button>
                <div [ngbCollapse]="isBalanceHelpCollapsed">
                  <div class="mt-2 small">
                    <p>Sums all Asset (Investment) accounts by default.</p>
                    <p>Override: add <code>FF + <i>amount</i></code> to Account Notes.
                      Use <code>FF +</code> (no amount) to include any account's YNAB balance.
                      (<code>BR4</code> commands also still work.)</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem id="pContributions" data-accordion="contributions">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <span class="float-start">Contributions</span>
          <span class="ms-auto">{{
            budgetForm.value.monthlyContribution | currency: currencyIsoCode
          }}</span>
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="form-group row mb-3">
              <label
                for="monthlyContribution"
                class="col-sm-12 col-md-5 col-form-label"
                >Monthly Investment Contribution</label
              >
              <div class="col" data-tour="monthly-contributions">
                <input
                  type="number"
                  class="form-control"
                  id="monthlyContribution"
                  formControlName="monthlyContribution"
                  step="100"
                />
              </div>
              <!-- <div class="col-sm-1">
              <button type="button" class="btn btn-link" (click)="displayContributionInfo = !displayContributionInfo">
                <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
              </button>
            </div> -->
            </div>
            <div
              class="row"
              *ngIf="contributionCategories && contributionCategories.length"
            >
              <table class="table col-12">
                <thead class="table-dark">
                  <tr>
                    <th>Category Name</th>
                    <th>Contribution</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let category of contributionCategories">
                    <tr *ngIf="!category.hidden">
                      <td>{{ category.name }}</td>
                      <td>
                        <span
                          ngbPopover="Min:  {{
                            category.info.min.value | currency: currencyIsoCode
                          }} Max:  {{
                            category.info.max.value | currency: currencyIsoCode
                          }} Mean: {{
                            category.info.mean | currency: currencyIsoCode
                          }} "
                          triggers="mouseenter:mouseleave"
                        >
                          {{ category.value | currency: currencyIsoCode }}
                        </span>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div *ngIf="!isUsingSampleData">
              <button
                class="btn btn-link btn-sm p-0 text-muted"
                type="button"
                (click)="
                  isContributionHelpCollapsed = !isContributionHelpCollapsed
                "
                [attr.aria-expanded]="!isContributionHelpCollapsed"
              >
                How we pull these numbers from YNAB
                <i
                  class="fas"
                  [class.fa-chevron-down]="isContributionHelpCollapsed"
                  [class.fa-chevron-up]="!isContributionHelpCollapsed"
                ></i>
              </button>
              <div [ngbCollapse]="isContributionHelpCollapsed">
                <div class="mt-2 small">
                  <p>Category groups matching <strong>Financial Independence, Investments, Retirement, FIRE, 📈, 🔥</strong> are counted as contributions.</p>
                  <p>Override: add <code>FF + <i>amount</i></code> to a category's notes (useful for employer contributions not in YNAB).
                    Use <code>FF +</code> (no amount) to include any category's YNAB balance.</p>
                  <p>Accounts: add <code>FF +m <i>amount</i></code> to Account Notes to log a monthly contribution.
                    (<code>BR4</code> commands also still work.)</p>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem id="pAdjustments" data-tour="contribution-adjustments" data-accordion="adjustments">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <span class="float-start">Contribution Adjustments</span>
          <span class="ms-auto">{{ contributionAdjustments.length }}</span>
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="row mb-3">
              <div class="col">
                <p class="small text-muted">
                  Add life events that will adjust your monthly contributions
                  (e.g., getting a certification or promotion, buying a house,
                  retiring).
                </p>
              </div>
            </div>
            <div
              *ngIf="contributionAdjustments && contributionAdjustments.length"
            >
              <ng-container
                *ngFor="
                  let adj of contributionAdjustments;
                  let i = index;
                  let last = last
                "
              >
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col text-end">
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-secondary"
                          (click)="removeAdjustment(i)"
                          title="Remove adjustment"
                          style="
                            border-radius: 50%;
                            width: 28px;
                            height: 28px;
                            padding: 0;
                            font-size: 18px;
                            line-height: 1;
                          "
                        >
                          ×
                        </button>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <label class="form-label small">Event Name</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          [(ngModel)]="adj.name"
                          (blur)="onAdjustmentChange()"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="e.g., Buy House, Pay Off Mortgage"
                        />
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <label class="form-label small">Start Date</label>
                        <input
                          type="date"
                          class="form-control form-control-sm"
                          [value]="getDateString(adj.startDate)"
                          (input)="setAdjustmentDate(i, $event.target.value)"
                        />
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <label class="form-label small"
                          >Monthly Adjustment ({{ currencyIsoCode }})</label
                        >
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          [(ngModel)]="adj.monthlyAdjustment"
                          (blur)="onAdjustmentChange()"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Use negative for decreased contributions"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!last" class="text-center mb-3">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="swapAdjustments(i, i + 1)"
                    title="Swap order"
                    style="
                      border-radius: 50%;
                      width: 32px;
                      height: 32px;
                      padding: 0;
                      transform: rotate(90deg);
                    "
                  >
                    ⇄
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="row mt-3">
              <div class="col text-center">
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-sm"
                  (click)="addAdjustment()"
                  style="
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;
                    padding: 0;
                    font-size: 20px;
                    line-height: 1;
                  "
                >
                  +
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem id="pExpenses" data-accordion="expenses">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <span class="float-start">Expenses</span>
          <span class="ms-auto" data-tour="retirement-expenses">
            {{ expenses.fi.annual | currency: currencyIsoCode }}</span
          >
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="row">
              <table class="table table-sm col-12 expenses">
                <thead class="table-dark">
                  <tr>
                    <th>Calculated</th>
                    <th>YNAB</th>
                    <th
                      ngbTooltip="FI budget includes all expenses to maintain your current lifestyle."
                      placement="top"
                      triggers="click:blur hover"
                      container="body"
                    >
                      FI <i class="fas fa-info-circle"></i>
                    </th>
                    <th
                      ngbTooltip="Lean FI budget covers only essential expenses — the minimum needed to get by."
                      placement="top"
                      triggers="click:blur hover"
                      container="body"
                    >
                      Lean FI <i class="fas fa-info-circle"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Monthly Expenses</th>
                    <td>
                      {{ expenses.ynab.monthly | currency: currencyIsoCode }}
                    </td>
                    <td>
                      {{ expenses.fi.monthly | currency: currencyIsoCode }}
                    </td>
                    <td>
                      {{ expenses.leanFi.monthly | currency: currencyIsoCode }}
                    </td>
                  </tr>
                  <tr>
                    <th>Estimated Annual Expenses</th>
                    <td>
                      {{ expenses.ynab.annual | currency: currencyIsoCode }}
                    </td>
                    <td>
                      {{ expenses.fi.annual | currency: currencyIsoCode }}
                    </td>
                    <td>
                      {{ expenses.leanFi.annual | currency: currencyIsoCode }}
                    </td>
                  </tr>
                </tbody>
                <thead class="table-dark">
                  <tr>
                    <th>Category</th>
                    <th>YNAB Budget</th>
                    <th>FI Budget</th>
                    <th>Lean FI Budget</th>
                  </tr>
                </thead>
                <tbody formArrayName="categoryGroups">
                  <ng-container
                    *ngFor="
                      let categoryGroup of categoryGroups.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <tr class="table-secondary">
                      <th colspan="4" class="">
                        {{ categoryGroup.value.name }}
                      </th>
                    </tr>
                    <ng-container formArrayName="categories">
                      <ng-container
                        *ngFor="
                          let category of categoryGroup.get('categories')
                            .controls;
                          let j = index
                        "
                        [formGroupName]="j"
                      >
                        <tr *ngIf="!category.value.hidden">
                          <td>
                            {{ category.value.name }}
                          </td>
                          <td>
                            <span
                              ngbPopover="Min:  {{
                                category.value.info.min.value
                                  | currency: currencyIsoCode
                              }} Max:  {{
                                category.value.info.max.value
                                  | currency: currencyIsoCode
                              }} Mean: {{
                                category.value.info.mean
                                  | currency: currencyIsoCode
                              }} "
                              triggers="mouseenter:mouseleave"
                            >
                              {{
                                category.value.retrievedBudgeted
                                  | currency: currencyIsoCode
                              }}
                            </span>
                          </td>
                          <td>
                            <input
                              class="form-control form-control-sm"
                              formControlName="fiBudget"
                              type="number"
                            />
                          </td>
                          <td>
                            <input
                              class="form-control form-control-sm"
                              formControlName="leanFiBudget"
                              type="number"
                            />
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div *ngIf="!isUsingSampleData">
              <button
                class="btn btn-link btn-sm p-0 text-muted"
                type="button"
                (click)="isExpenseHelpCollapsed = !isExpenseHelpCollapsed"
                [attr.aria-expanded]="!isExpenseHelpCollapsed"
              >
                How we pull these numbers from YNAB
                <i class="fas" [class.fa-chevron-down]="isExpenseHelpCollapsed" [class.fa-chevron-up]="!isExpenseHelpCollapsed"></i>
              </button>
              <div [ngbCollapse]="isExpenseHelpCollapsed">
                <div class="mt-2 small">
                  <p><strong>Set to 0 in FI budget:</strong> FIRE/retirement groups (savings goal accomplished at FI),
                    Debt Payments (paid off), Credit Card Payments (paid monthly), and groups containing 📉 or 🔕.</p>
                  <p><strong>Also 0 for Lean FI:</strong> Just For Fun, Quality of Life Goals, and groups containing 🌤️.</p>
                  <p>Groups containing 👻 are ignored entirely.</p>
                  <p><strong>Overrides:</strong> add <code>FF FI <i>amount</i></code> or <code>FF LFI <i>amount</i></code> to a category's notes.
                    Use without an amount to include the YNAB balance as-is.
                    (<code>BR4</code> commands also still work.)</p>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</form>
