<div class="row" *ngIf="calculateInput; else loading">
<button type="button" (click)="startOnboarding()">
  Explain this tool
</button>
  <div class="col">
    <!-- Coast FIRE Investment Projection -->
    <div class="mb-4">
      <button
        class="btn btn-link w-100 text-start p-0"
        type="button"
        (click)="isCoastFireCollapsed = !isCoastFireCollapsed"
        [attr.aria-expanded]="!isCoastFireCollapsed"
        aria-controls="coast-fire-content"
      >
        <h3 class="fw-bolder mb-0">
          Coast FIRE Investment Projection
          <i
            class="fas"
            [class.fa-chevron-down]="isCoastFireCollapsed"
            [class.fa-chevron-up]="!isCoastFireCollapsed"
            [class.float-end]="true"
          ></i>
        </h3>
      </button>
      <div id="coast-fire-content" [ngbCollapse]="isCoastFireCollapsed">
        <div class="mt-4">
          <app-fire-dashboard
            [calculateInput]="calculateInput"
            [forecast]="forecast"
          >
          </app-fire-dashboard>
          <app-fi-text
            class="d-block mt-4"
            [calculateInput]="calculateInput"
            [forecast]="forecast"
          >
          </app-fi-text>
        </div>
      </div>
    </div>

    <!-- Milestones of FI -->
    <div class="mb-4">
      <button
        class="btn btn-link w-100 text-start p-0"
        type="button"
        (click)="isMilestonesCollapsed = !isMilestonesCollapsed"
        [attr.aria-expanded]="!isMilestonesCollapsed"
        aria-controls="milestones-content"
      >
        <h3 class="fw-bolder mb-0">
          Milestones of Financial Independence
          <i
            class="fas"
            [class.fa-chevron-down]="isMilestonesCollapsed"
            [class.fa-chevron-up]="!isMilestonesCollapsed"
            [class.float-end]="true"
          ></i>
        </h3>
      </button>
      <div id="milestones-content" [ngbCollapse]="isMilestonesCollapsed">
        <div class="mt-2">
          <app-milestones
            [calculateInput]="calculateInput"
            [forecast]="forecast"
          >
          </app-milestones>
        </div>
      </div>
    </div>

    <!-- Expense Impact on FI Date -->
    <div class="mb-4">
      <button
        class="btn btn-link w-100 text-start p-0"
        type="button"
        (click)="isExpenseImpactCollapsed = !isExpenseImpactCollapsed"
        [attr.aria-expanded]="!isExpenseImpactCollapsed"
        aria-controls="expense-impact-content"
      >
        <h3 class="fw-bolder mb-0">
          Expense Impact on FI Date
          <i
            class="fas"
            [class.fa-chevron-down]="isExpenseImpactCollapsed"
            [class.fa-chevron-up]="!isExpenseImpactCollapsed"
            [class.float-end]="true"
          ></i>
        </h3>
      </button>
      <div id="expense-impact-content" [ngbCollapse]="isExpenseImpactCollapsed">
        <div class="mt-2">
          <app-expense-impact
            [calculateInput]="calculateInput"
            [forecast]="forecast"
          >
          </app-expense-impact>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div>
    <h4>
      <fa-icon [icon]="['fas', 'sync']" [animation]="'spin'"></fa-icon>
      Getting Budget from YNAB...
    </h4>
  </div>
</ng-template>
